use rocket::{Build, Rocket};
use worker::{Context, Env};

use crate::tasks::routes::{complete_task, create_task, get_task, list_tasks};

#[get("/")]
fn index() -> &'static str {
    "hello from comet\n"
}

pub fn rocket(env: Env, _ctx: Context) -> Rocket<Build> {
    rocket::build().manage(env).mount(
        "/",
        routes![index, list_tasks, get_task, create_task, complete_task],
    )
}
